<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>OAuth 2.0 Google</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top"
     style="box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;">
    <div class="container container-fluid">
        <div class="d-flex justify-content-start">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <i class="lni lni-google" style="color: red; font-size: large; font-weight: bolder"></i>&nbsp;<span
                        class="navbar-brand" style="color: #444444; font-size: larger; font-weight: bolder"
                        th:text="#{page.header}"></span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 text-center">
            <div class="card" style="box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0; border-radius: 10px">
                <div class="card-body mt-3 mb-3">
                    <p class="card-text">
                        <span class="display-3 d-flex justify-content-center"><i class="lni lni-user-4"
                                                                                 style="color: red;"></i></span>
                    </p>
                    <p class="card-text mt-3 mb-3" style="font-size: x-large; font-weight: normal">
                        <span th:text="#{login.header}"/>
                        <span style="color: #333333; font-size: x-large; font-weight: bolder"
                              th:text="#{page.header}"></span>
                    </p>
                    <a class="mt-4 mb-4 badge badge-pill badge-danger p-sm-2" href="/oauth2/authorization/google">
                        <i class="lni lni-google" style="color: white; font-size: xx-large"></i>
                        <span style="font-weight: lighter; font-size: medium" th:text="#{login.text.google}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>